<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Life Below Water</title>
  <link rel="stylesheet" href="../styles/style.css" />
  <link rel="stylesheet" href="footer.css" />
  <link rel="stylesheet" href="./header.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
</head>

<body>
  <header>
    <div class="nav-bar">
      <div class="container">
        <div class="logo">
          <img src="../assets/images/header/logo.png" alt="Logo">
        </div>

        <nav class="desktop-nav">
          <ul>
            <li><a class="nav-link" onclick="loadPage('home')">Home</a></li>
            <li><a class="nav-link" onclick="loadPage('profile')">Profile</a></li>
            <li><a class="nav-link" onclick="loadPage('statistics')">Table</a></li>
            <li><a class="nav-link" onclick="loadPage('feedback')">Feedback</a></li>
            <li><a class="nav-link" onclick="loadPage('team')">Our Team</a></li>
            <li><a class="nav-link" onclick="loadPage('sitemap')">Sitemap</a></li>
            <li><a class="nav-link" onclick="loadPage('volunteer')">Volunteer</a></li>
          </ul>
        </nav>

        <div class="mobile-nav">
          <i class="fas fa-bars" id="hamburger-icon"></i>
        </div>
      </div>
    </div>

    <div class="drawer" id="drawer">
      <ul>
        <li><a class="nav-link" onclick="loadPage('home')">Home</a></li>
        <li><a class="nav-link" onclick="loadPage('profile')">Profile</a></li>
        <li><a class="nav-link" onclick="loadPage('statistics')">Table</a></li>
        <li><a class="nav-link" onclick="loadPage('feedback')">Feedback</a></li>
        <li><a class="nav-link" onclick="loadPage('team')">Our Team</a></li>
        <li><a class="nav-link" onclick="loadPage('sitemap')">Sitemap</a></li>
        <li><a class="nav-link" onclick="loadPage('volunteer')">Volunteer</a></li>
      </ul>
    </div>
  </header>



  <main>
    <div class="container1">
      <div id="content-container">
      </div>
    </div>
  </main>

  <footer>
    <div class="container0">
      <div class="footer-content">
        <p>&copy; 2025 Life Below Water. All rights reserved.</p>
        <ul class="social-links">
          <li><a onclick="loadPage('student1')">Student 1</a></li>
          <li><a onclick="loadPage('student2')">Student 2</a></li>
          <li><a onclick="loadPage('student3')">Student 3</a></li>
          <li><a onclick="loadPage('student4')">Student 4</a></li>
        </ul>
      </div>
    </div>
  </footer>
  <script src="./template.js"></script>
</body>

</html>