/* Feedback Form Styles */




.feedback-section {
  background-color: var(--pearl-white);
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feedback-content {
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 100%;
  max-width: 600px;
}

.feedback-content h2 {
  font-size: var(--font-size-h2);
  color: var(--primary-blue);
  margin-bottom: 10px;
  text-align: center;
}

.feedback-content p {
  font-size: var(--font-size-body);
  color: var(--gray);
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: grid;
  gap: 20px;
}

fieldset {
  border: 1px solid var(--light-blue);
  border-radius: 10px;
  padding: 20px;
  background-color: var(--white);
}

legend {
  font-size: var(--font-size-h3);
  font-weight: bold;
  color: var(--primary-blue);
  margin-bottom: 10px;
}

label {
  display: block;
  font-size: var(--font-size-body);
  color: var(--black);
  margin-bottom: 8px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--gray);
  border-radius: 5px;
  font-size: var(--font-size-body);
  color: var(--black);
  box-sizing: border-box;
}

input[type="radio"],
input[type="file"] {
  margin-right: 10px;
}

textarea {
  resize: vertical;
  max-height: 150px;
}

.rating {
  display: flex;
  gap: 10px;
}

.rating input[type="radio"] {
  display: none;
}

.rating label {
  font-size: 24px;
  cursor: pointer;
  color: var(--dark-blue);
}

input[type="radio"]:checked + label {
  color: var(--yellow);
}

#char-count {
  font-size: 0.9rem;
  color: var(--gray);
}

button[type="submit"] {
  background-color: var(--primary-blue);
  color: var(--white);
  font-size: var(--font-size-body);
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

button[type="submit"]:hover {
  background-color: var(--dark-blue);
}

@media (max-width: 768px) {
  .feedback-section {
    padding: 20px 0;
  }

  .feedback-content {
    padding: 20px;
    width: 100%;
    box-shadow: none;
  }

  h2 {
    font-size: var(--font-size-h2);
  }

  button[type="submit"] {
    padding: 10px;
  }
}
